@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
$primary: #3287a8;
$secondary: #32a86b;
$error: #a83232;
$info: #def224;
$blue: #05a2fc;
$pink:#f405fc;
$black:#030303;
$white:#fff;

$base_padding: 0.75rem;
$base_border_ticknes: 1px;
$rounded_full: 9999px;
$rounded_lg: 5px;